body {
    background: url(/template/images/background/background.jpg);
}

.marginTop {
    margin-top: 100px;
}

#TopMargin {
    margin-top: 100px;
}

.legal-notice {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #191f22;
    color: #fff;
    padding-bottom: 4.5em;
    padding-left: 7.1%;
    padding-right: 7.1%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.divider {
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    margin: 10px auto;
    line-height: 1;
    background-color: #c8cacb;
}

.pre-footer-header {
    color: #333;
    border-bottom: none;
    cursor: auto;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.acc-link-content {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

li > a {
    display: list-item;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-top: 10px;
}

li > a:hover {
    text-decoration: none;
    color: darkred;
}

.checkboxTable {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.models-list img {
    margin-top: 20px;
    display: inline-block;
    height: auto;
    width: 100%;
}

.round {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    /* Тень, отбрасываемая картинкой */
    color: white;
}

.footerback {
    background: #333;
    margin-top: 10px;
}

.reg-login {
    background: #F5DEB3;
    border-radius: 5px;
    margin: 20px;
}

.form-center {
    padding: 30px;
    /* Поля вокруг текста */
    margin: auto;
    /* Выравниваем по центру */
    background: cornsilk;
    /* Цвет фона */
    border-radius: 4px;
    margin: 10px;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
}

.principle{
    font-size: 36px;
    color: black;
    text-align: center;
}
.principle-description{
    font-size: 16px;
    color: black;
    text-align: center;
}
.about-head{
    font-size: 24px;
    color: #DC143C;
    text-align: center;
}
.image-size {    /* Параметры изображений на вкладке "О компании" */
    width: 280px;
    height: 210px;
    border-color: black;    /* Цвет рамки */
    border-width: 2px;    /* Ширина рамки */
    border-radius: 4px;    /* Скругление углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);    /* Тень, отбрасываемая картинкой */
}